arrow
b2sdk
bs4
blake3
build
## not a package, no pyproject.toml
## -e git+https://github.com/noDRM/DeDRM_tools.git@v7.2.1#egg=dedrm&subdirectory=DeDRM_plugin
discid
enum34
ffmpeg-python @ git+https://github.com/kkroening/ffmpeg-python.git@master
html5lib
icontract
lmdb
lxml
matplotlib
mobi
mypy
musicbrainzngs
numpy
pandas
pillow
pycodestyle
# used by dedrm
pycryptodome
pyflakes
pylint
##pylzma - seems to be stale, what was I using this for? - cameron 30nov2024
##pyobjc[allbindings]  ## macos only
pytest
python-dateutil
railroad-diagrams
requests
ruff
sqlalchemy
tkmacosx
tomli-w
trove-classifiers
twine
typeguard
watchdog
yapf
##youtube-dl
youtube-dl @ git+https://github.com/ytdl-org/youtube-dl.git@26035bde4
